# <%= @title %> at <%= method(@conn) %> <%= @conn.request_path %>

Exception:

    <%= String.replace(@formatted, "\n", "\n    ") %>

## Connection details

### Params

    <%= inspect(@params) %>

### Request info

  * URI: <%= url(@conn) %>
  * Query string: <%= @conn.query_string %>

### Session

    <%= inspect(@session) %>
